<div class="well sidebar-nav">
  <ul class="report-menu nav nav-list">
    <li class='active'><a href="#" class='load-content' data-content="home_content">What's This?</a></li>
  </ul>
  <div class="accordion" id="accordion">
    {% for chart_group in chart_groups %}
      {% set id = ['collapse',loop.index]|join %}
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse"  href="#{{ id }}">
            <i class="icon-caret-right"></i><span class='nav-heading'>{{ chart_group.name }}</span>
          </a>
        </div>
        <div id="{{ id }}" class="accordion-body collapse">
          <div class="accordion-inner">
            <ul class="report-menu nav nav-list">
              {% for chart in chart_group.charts %}
                {% set title = [chart_group.name, ' ', chart.text]|join %}
                {% set data = [chart.key, '_', 'data']|join %}
                {% set content = [chart.key, '_', 'content']|join %}
              <li><a href="#" title='{{ title }}' data-data="{{ data }}"  data-content="{{ content }}"  data-display='{{ chart.key }}'>{{ chart.text }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div><!--/.well -->